body {
  background-color: LightSlateGray;
}

.intro {
  display: flexbox;
  align-items: center;
}

.pink {
  display: flex;
  background-color: DarkSeaGreen;
}


.nav {
  text-decoration: none;
  list-style: none;
  color: inherit;
  cursor: pointer;
}

.plantcard {
  text-decoration: none;
  list-style: none;
  color: inherit;
  cursor: pointer;

}

.intro {
  padding-left: 30px;
  height: 200px;
  width: 800px;
  display: flex;
}

.plants {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
  row-gap: 15px;
  padding: 50px;
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  row-gap: 15px;
  padding: 50px;
}